body {
	padding-top: 3em;
	background-color: #eee;
	color: black;
	-webkit-overflow-scrolling: touch;
	font-family: 'Open Sans', sans-serif;
}
a, a:visited, a:active {
	color: inherit;
}
#file-list {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
}
#file-list li {
	cursor: pointer;
	background: linear-gradient(to bottom, #fff 0%, #eee 48%, #ddd 52%, #ccc 100%);
	border: 1px solid #ccc;
	text-shadow: 1px 1px #ccc;
	color: #000;
	font-size: 1.2em;
	padding: .4em .5em;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}
#file-list li img.thumbnail {
	height: 50px;
	vertical-align: middle;
	padding-right: .7em;
}
#dir-header {
	background: linear-gradient(to bottom, #fff 0%, #eee 48%, #ddd 52%, #ccc 100%);
	border: 1px solid #ccc;
	text-shadow: 1px 1px #ccc;
	color: #c00;
	font-size: 1.2em;
	padding: .2em .5em;
	overflow: hidden;
}

#transcoders {
	color: white;
    padding: .2em .5em;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

audio {
	margin: auto;
	display: block;
}
#audio-container {
	background: black;
	width: 100%;
	padding: 3em;
}
#audio-container audio {
	width: 100%;
}
#audio-song-name {
	color: white;
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 1em;
}

#preview-image {
	background: black;
	display: block;
	width: 100%;
	min-height: 400px;
}

#player-loading {
	position: absolute;
    z-index: 1;
    font-size: 4em;
	margin-top: -.5em;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    color: white;
}

::-webkit-scrollbar {
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #e8e8e8;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(51, 51, 51, .7);
    border-radius: 12px;
    max-width: 10px;
}

#settings-btn {
	cursor: pointer;
}
#settings-container {
	display: none;
}
